

.image-container img{
  border: 1px solid #dadada;
}

select {
  padding: 12px 5px;
  width: 209px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  margin: auto;
  font-size: 1rem;

  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.425rem 1rem;

}


.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}


.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
   margin-right: 0.25em;

}
.inputfile-1 + label {
  color: #f1e5e6;
  background-color:#ffff;
}

#imgIcon
{
  color: #004ba0;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #ffff;
}

#arrow-right ,
#arrow-down {
  font-size: 3em;
}

#arrow-right {
  position: absolute;
  top: 60px;
}
#arrow-down{
  width: 50px;
  margin: 10px auto;
}

#arrow-right.fa-arrow-right ,
#arrow-right.fa-spin ,
#arrow-down.fa-arrow-down ,
#arrow-down.fa-spin  {
  color: #1976d2;
}


}